
body, html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background:#e9ecf3;

}
/**********Nav***** */
#navbar1{
     font-family:Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
     display:flex;
     justify-content: flex-end; 
     height:10%;
     
     
}
.link {
    display: inline-block; /* make the hole area clickable */
    border-radius:10px;
    margin-top:20px; 
    margin-left:15px;
    margin-right:10px;
    text-align: center;
    color:#f2853c;
    text-decoration: none;
}
.link:visted:{color:green}
.link:link{color:lightblue}
.link:hove{}
.link:active{}
.nav1icon{
   margin-right:auto;
   padding:10px;

}
/*****Section ***** */
.home{
    margin-top:30px;
    font-family:fantasy;
    letter-spacing: .3rem;
    color:#fff;
    display:flex;
    justify-content:center;
    z-index:2
}
.textblock{

    position: fixed;
    top:80px;
    left:60%;
    font-size:100px;
    z-index:4;
    text-shadow: 6px 2px #f2853c; 
}
.scover{
     border-radius:40px;
     z-index:2
}  
/***** Gallery *****/
.gallery{
    height:30%;
    width:100vw;
    background:red;
}

.next,.prev {
  top: calc(50% - 20px);
  background: white;
  border-radius: 30px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  z-index: 2;
}

.next {
  right: 10px;
}

.prev {
  left: 10px;
  transform: scale(-1);
}

@media (min-width: 300px ) and (max-width: 760) {
    body{
        
    }
  
}
