:root{
    --blue:#6896c8;
}
.text-center{
    text-align:center;
    text-indent: 1%;
}
body{
 background:#fff;
 width:100vw;
}

/**********Nav***** */
#navbar1{
     font-family:Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
     display:flex;
     justify-content: center; 
     box-shadow: 2px 3px 10px #fff;
     margin-bottom:1%;
     background:#fff;

}
.link {
    display: inline-block; /* make the hole area clickable */
    border-radius:10px;
    margin:15px;
    text-align: center;
    color:#6896c8;
    text-decoration: none;
}
/*****Section ***** */
.home{
    display:flex;
    justify-content:center;
    z-index:2;
}
.scover{
     width:100%;
     z-index:0;
}  
/***** Welcome Text **/ 
.welcome{
    display:flex;
    justify-content:center;
    width:99vw;
    align-content:center;

}
p{
    margin-top:10px;
    margin-bottom:20px;
    padding:5px;
    font-size:22px;
}
p::first-letter {
    font-size: 200%;
    color: var(--blue)
}
/***** Gallery *****/
.gallerymotion{
    display:flex;
    justify-content:center;
    margin:20px;
    width:50vw;
}
.btnleft, .btnright {
    position:absolute;
    background: #6896c8;
    border-radius: 10px;
    border:none;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    cursor: pointer;
    z-index:2;
  }

.btnleft {
  left:7%;
  margin-top:10%;
}
.btnright { 
  left:47%;
  margin-top:10%;
 
}
/****Dates*******/
.dates{
    width:50vw;
}
input{
    padding:20px;
    border-radius:10px;
    width:250px;
}
label{
    padding:15px;
}
#serch{
    margin-top:20px;
    border-radius:10px;
    width:10%;
    height:50px;
    background:var(--blue);
    border:none;
}

//*** Wrapper **///

footer{
   display:flex;
   justify-content:center;
   width:99vw;
   height:50px;
   box-shadow: 1px 0px 5px  var(--blue);
   color: white;
   
 
}


@media (min-width: 768px ) and (max-width: 959px) {
    body{background:lightblue;}
  
}

@media (min-width: 480px ) and (max-width: 767px) {
    body{background:lightpink}
  
}
