body{
 background:#fff;
}
main {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background:#fff;
}
/**********Nav***** */
#navbar1{
     font-family:Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
     display:flex;
     justify-content: center; 
     box-shadow: 2px 3px 10px #fff;
     margin-bottom:1%;
     background:#fff;

}
.link {
    display: inline-block; /* make the hole area clickable */
    border-radius:10px;
    margin:15px;
    text-align: center;
    color:#6896c8;
    text-decoration: none;
}

/*****Section ***** */
.home{
    font-family:fantasy;
    letter-spacing: .3rem;
    color:#fff;
    display:flex;
    justify-content:center;
    z-index:2
}
.scover{
     border-radius:40px;
     z-index:2
}  
/***** Gallery *****/
.gallery-wrapper{
    margin-top:3%;
    display:flex;
    height:400px;
    width:100%;
    margin-bottom:3%;
}
.gallerymotion{
    display:flex;
    justify-content:center;
    width:45vw;
    margin:20px;
}
.btnleft, .btnright {
    position:absolute;
    background: #6896c8;
    border-radius: 10px;
    border:none;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    cursor: pointer;
    z-index:2;
  }

.btnleft {
  left:2%;
  margin-top:10%;
}
.btnright { 
  left:44%;
  margin-top:10%;
 
}
/****** end *****///

.welcome{
    
}
p{
    margin-top:-10px;
    padding:5px;
    font-size:22px;
    text-indent: 10%;
}
p::first-letter {
    font-size: 200%;
    color: #f2853c;
}

footer{
   display:flex;
   justify-content:space-between;
   align-items:center;
   height:100px;
   width:100%;
   box-shadow: 1px 1px 15px 1px #f2853c;
   color: white;
   background:#d2d4d8;
 
}





@media (min-width: 768px ) and (max-width: 959px) {
    body{background:lightblue;}
  
}

@media (min-width: 480px ) and (max-width: 767px) {
    body{background:lightpink}
  
}
